.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.titleone{
  margin: 0;
  line-height: 1.15;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  letter-spacing: .05rem;
  color: #c54245;
  text-shadow: 5px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
  font-stretch: expanded;
  justify-content: center;
}

.titletwo{
  margin: 0;
  line-height: 1.15;
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  letter-spacing: .05rem;
  color:  #1E792C;
  text-shadow: 5px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
  padding: 10px;
  text-decoration: wavy;
  text-align: center;
  font-stretch: expanded;
  justify-content: center;
}

.titlethree{
  margin: 5px;
  line-height: 1.15;
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  letter-spacing: .05rem;
  color:  #1E792C;
  text-shadow: 5px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
  font-stretch: expanded;
  padding: 10px;
  justify-content: center;
}

.input {
  width: 45vw;
  padding: 0.5rem;
  border: 1px solid #eaeaea;
  border-radius: 5px;
  font-size: 2rem;
}

.button {
  width: 45vw;
  padding: 0.5rem;
  border: 1px solid #eaeaea;
  border-radius: 5px;
  font-size: 2rem;
  background: #c54245;
  color: white;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {
  .title {
    background: linear-gradient(180deg, #ffffff 0%, #aaaaaa 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }
  .title a {
    background: linear-gradient(180deg, #0070f3 0%, #0153af 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}
